@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(15,15,16);
    color: white;
}

button {
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
    font-weight: bold;
    width: 120px;
    height: 70px;
    /* transition: all 1s; */
}

button:active {
    transform: translate(0,1px);
}

.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    flex-direction: column;
}

.result {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    /* border: 2px solid white; */
    margin-bottom: 50px;
    font-size: 40px;
}

.result p {
    color: white;
    transition: all 1s;
    text-align: center;
}

.botones {
    display: grid;
    /* border: 2px solid white; */
    column-gap: 20px;
    grid-template-columns: 1fr;
}

.prompt p {
    color: white;
    font-size: 16px;
}

.btnConfirm {
    background-color: rgb(37, 215, 37);
}

.boton {
    word-wrap: break-word;
}

.finTexto {
    color: coral;
    font-size: 20px;
}